@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  margin: auto;
  color: #d4d5d7;
  background: #090e11;
  height: 100%;
  
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #090e11;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: .2s ease;
}

.loading.visible {
  opacity: 1;
  pointer-events: auto;
}

.loading .image-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.loading .image-wrapper::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(9,14,17,0.85);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 1;
}

.loading-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.15);
  transition: .45s ease;
}

.loading-image.loaded {
  opacity: 1;
  transform: scale(1);
}

.loading .hero {
  color: #f1f1f2e0;
}

.loading .hero svg {
  width: 50px;
  height: 50px;
}

.loading .hero span {
  letter-spacing: -2px;
  font-weight: 600;
  font-size: 50px;
  margin-left: 10px;
}

.loading .center {
  position: relative;
  z-index: 1;
}

.loading .progress-wrapper {
  margin-top: 24px;
  width: 100%;
  height: 3px;
  background: rgb(241 241 242 / 18%);
}

.loading .progress {
  height: 3px;
  background: rgb(241 241 242 / 75%);
  width: 0;
  transition: 0.45s ease;
}

iframe {
  width: 100%;
  height: 100vh;
  background: #fff;
  
  /*
  transform: scale(0.8);
  border-radius: 10px;
  */
}
